{% extends 'base/admin/base.html' %}
{% load static %}

{% block admin_style %}
  <!-- Plugins and style required by this views -->
  <!--=========================================================================================-->
  <!--dropzone  -->
  <link href="{% static 'users_assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" /> 
  <!--summernote  -->
  <link rel="stylesheet" href="{% static 'admin_assets/plugins/summernote/dist/summernote-bs4.css' %}"/>

  <!--Select Plugins-->
  <link href="{% static 'admin_assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
  <!--inputtags-->
  <link href="{% static 'admin_assets/plugins/inputtags/css/bootstrap-tagsinput.css' %}" rel="stylesheet" />
  <!--multi select-->
  <link href="{% static 'admin_assets/plugins/jquery-multi-select/multi-select.css' %}" rel="stylesheet" type="text/css">
  <!--Bootstrap Datepicker-->
  <link href="{% static 'admin_assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
  <!--Touchspin-->
  <link href="{% static 'admin_assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" type="text/css">
<!--=========================================================================================-->
{% endblock admin_style %}

{% block admin_content %}
    <!--Start Dashboard Content-->

    <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card  ">
                    <div class="card-header   text-uppercase">
                        {% if teacher %}Update Student Form{% else %}Create Student Form{% endif %}
                    
                    </div>
                        <div class="card-body  ">
                    <form class="loginForm w-100" method="POST", action="">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="row">
                                <div class="col-12">
                                    {% for error in form.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <div class="alert-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div class="alert-message">
                                            <span><strong>Wronge!</strong> {{error}}!</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.user.errors }}
                                    {% for error in form.user.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <div class="alert-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div class="alert-message">
                                            <span>{{error}}!</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <label for="{{ form.user.id_for_label }}">Users:</label>
                                    <div class="position-relative has-icon-right">
                                        {{ form.user }}
                                        
                                        {% if form.user.help_text %}
                                            <p class="help">{{ form.user.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {% for error in form.academic_year.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <div class="alert-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div class="alert-message">
                                            <span>{{error}}!</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <label for="{{ form.academic_year.id_for_label }}">academic year</label>
                                    <div class="position-relative has-icon-right">
                                        {{ form.academic_year }}
                                        
                                        {% if form.academic_year.help_text %}
                                            <p class="help">{{ form.academic_year.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                          
                              
                            </div>
                          
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    {% for error in form.sections.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <div class="alert-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div class="alert-message">
                                            <span>{{error}}!</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <label for="{{ form.sections.id_for_label }}">sections:</label>
                                    <div class="position-relative has-icon-right">
                                        {{ form.sections }}
                                    
                                        {% if form.sections.help_text %}
                                            <p class="help">{{ form.sections.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><hr>
                        <a href="{% url 'academy_dashboard' %}" class="btn btn-primary btn-round waves-effect waves-light m-1">Cancle</a>
                        <button type="submit" class="btn btn-success btn-round waves-effect waves-light m-1">{% if teacher %}Save change{% else %}Create Student{% endif %}</button>
                    </form>
                </div>
        </div>

  <!--End Dashboard Content-->
  {% endblock admin_content %}

  {% block admin_script %}  
  
  
    <!-- Plugins and scripts required by This views -->
    <!--=========================================================================================-->
    <script src="{% static 'admin_assets/plugins/summernote/dist/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'users_assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'users_assets/libs/dropzone/dist/dropzone-custom.js' %}"></script>
    <!--=========================================================================================-->
    <!--Bootstrap Touchspin Js-->
    <script src="{% static 'admin_assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'admin_assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js' %}"></script>
    
    <!--Select Plugins Js-->
    <script src="{% static 'admin_assets/plugins/select2/js/select2.min.js' %}"></script>
    <!--Inputtags Js-->
    <script src="{% static 'admin_assets/plugins/inputtags/js/bootstrap-tagsinput.js' %}"></script>
    <!--Multi Select Js-->
    <script src="{% static 'admin_assets/plugins/jquery-multi-select/jquery.multi-select.js' %}"></script>
    <script src="{% static 'admin_assets/plugins/jquery-multi-select/jquery.quicksearch.js' %}"></script>
    <script src="{% static 'main/js/select-custom.js' %}"></script>
    
    <!--Inline script-->
    <script>
      $(function(){
        $('.single-select')?.select2();


        if ($('.summernoteEditor')?.length){
          $('.summernoteEditor')?.summernote({
            height: 400,
            tabsize: 2
          });
        }
      });
    </script>

    <!--=========================================================================================-->

  {% endblock admin_script %}






