{% load static %}
<!-- Plugins and scripts required by all views -->
<!--=========================================================================================-->


<!--=========================================================================================-->
<script src="{% static 'assets/js/htmx.min.js' %}"></script>

<!--=========================================================================================-->

<!--notification js -->
<script src="{% static 'assets/plugins/notifications/js/lobibox.min.js' %}"></script>
<script src="{% static 'assets/plugins/notifications/js/notifications.min.js' %}"></script>
<script src="{% static 'assets/plugins/notifications/js/notification-custom-script.js' %}"></script>
 <!--Sweet Alerts -->
 <script src="{% static 'assets/plugins/alerts-boxes/js/sweetalert.min.js' %}"></script>
