{% extends 'base/base.html' %}
{% load static %}

 <!-- section -->
 {% block style %}
 

 <link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet">
 <link href="{% static 'assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">

 <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet">


 {% endblock style %}

 {% block content %}

<div class="container d-flex flex-column">
	<div class="row align-items-center justify-content-center g-0 min-vh-100">

	<div class="col-lg-5 col-md-8 py-8 py-xl-0">
		<!-- Card -->
		<div class="card shadow my-5">
		<!-- Card body -->
		<div class="card-body p-6">
			<div class="mb-4 text-center">
				<a class="ms-auto" href="{% url 'home' %}"><img class="dashboard-logo-icon-lg" src="{% static 'main/images/logomain.png' %}" class="mb-4" alt=""></a>
				<h1 class="mb-1 fw-bold">Password reset sent</h1>
				<p>
					We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
					If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
				</p>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>

{% endblock content %}

{% block script %}
	<!-- Libs JS -->
	<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'assets/libs/dragula/dist/dragula.min.js' %}"></script>
	<script src="{% static 'assets/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>

	<!-- Theme JS -->
	<script src="{% static 'assets/js/theme.min.js' %}"></script>
	<script>
	$(function(){
		$("input")?.addClass("form-control");
	});
	</script>

{% endblock script %}