
{% load static %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>

<!-- Libs CSS -->
<link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/@yaireo/tagify/dist/tagify.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/tippy.js/dist/tippy.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/prismjs/themes/prism-okaidia.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/nouislider/dist/nouislider.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/glightbox/dist/css/glightbox.min.css' %}" rel="stylesheet">

<link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet">
