  {% load static %}
  <!-- Libs JS -->


<!-- Libs JS -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/odometer/odometer.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'assets/libs/inputmask/dist/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
<script src="{% static 'assets/libs/file-upload-with-preview/dist/file-upload-with-preview.iife.js' %}"></script>
<script src="{% static 'assets/libs/dragula/dist/dragula.min.js' %}"></script>
<script src="{% static 'assets/libs/bs-stepper/dist/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'assets/libs/jQuery.print/jQuery.print.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/components/prism-scss.min.js' %}"></script>
<script src="{% static 'assets/libs/@yaireo/tagify/dist/tagify.min.js' %}"></script>
<script src="{% static 'assets/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<script src="{% static 'assets/libs/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/tippy.js/dist/tippy-bundle.umd.min.js' %}"></script>
<script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>
<script src="{% static 'assets/libs/jsvectormap/dist/js/jsvectormap.min.js' %}"></script>
<script src="{% static 'assets/libs/jsvectormap/dist/maps/world.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js' %}"></script>
<script src="{% static 'assets/libs/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'assets/libs/@lottiefiles/lottie-player/dist/lottie-player.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/nouislider/dist/nouislider.min.js' %}"></script>
<script src="{% static 'assets/libs/wnumb/wNumb.min.js' %}"></script>
<script src="{% static 'assets/libs/glightbox/dist/js/glightbox.min.js' %}"></script>
  


<!-- CDN File for moment -->
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/theme.min.js' %}"></script>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>