{% extends 'base/users_base.html' %} {% load static %} {% load static %}
<!-- section -->

{% block user_content %}

<!-- Page header -->
<div class="pt-lg-8 pb-lg-16 pt-8 pb-12 bg-success">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-7 col-lg-7 col-md-12">
        <div>
          <h1 class="text-white display-4 fw-semi-bold">{{subject.name}}</h1>
          <p class="text-white mb-6 lead">{{subject.bio}}</p>
          <div class="d-flex align-items-center">
            <a href="#" class="bookmark text-white text-decoration-none">
              <i class="fa fa-bookmark text-white-50 me-2"></i>Bookmark
            </a>

            <span class="text-white ms-3"><i class="fa fa-user text-white-50"></i> {{subject_students.count}} students
            </span>
            <span class="ms-4">
              <i class="zmdi zmdi-star me-n1 text-warning"></i>
              <i class="zmdi zmdi-star me-n1 text-warning"></i>
              <i class="zmdi zmdi-star me-n1 text-warning"></i>
              <i class="zmdi zmdi-star me-n1 text-warning"></i>
              <i class="zmdi zmdi-star me-n1-half text-warning"></i>
              <span class="text-white">(140)</span>
            </span>
            <span class="text-white ms-4 d-none d-md-block">
              <svg width="16" height="16" viewBox="0 0 16  16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3" y="8" width="2" height="6" rx="1" fill="#DBD8E9"></rect>
                <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
              </svg>
              <span class="align-middle"> {{subject.level}} </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded-3">
          <!-- Card header -->
          <div class="card-header border-bottom-0 p-0">
            <div>
              <!-- Nav -->
              <ul class="nav nav-lb-tab" id="tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="description-tab" data-bs-toggle="pill" href="#description" role="tab"
                    aria-controls="description" aria-selected="false">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="section-tab" data-bs-toggle="pill" href="#section_id" role="tab"
                   aria-controls="section" aria-selected="false">Section</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review" role="tab"
                    aria-controls="review" aria-selected="false">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="faq-tab" data-bs-toggle="pill" href="#faq" role="tab" aria-controls="faq"
                    aria-selected="false">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="tab-content" id="tabContent">
              <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                <!-- Description -->
                <div class="mb-4">
                  <h3 class="mb-2">Course Descriptions</h3>
                  <p class="text-type-md">{{subject.descriptions}}</p>
                </div>
                <div class="col-md-12">
                  <h5 class="mt-2 mb-3 "><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                  <div class="table-responsive ">
                      <table class="table table-hover table-striped">
                          <tbody>                                    
                              <tr>
                                  <td>
                                      <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="section_id" role="tabpanel" aria-labelledby="section-tab">
                {% include 'components/users_sections_list.html' with sections=subject_sections %}
            </div>
              <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                {% include 'components/reviews.html' with reviews=subject.subjectreview_set.all review_form=review_form  %}
              </div>
              <!-- Tab pane -->
              <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                <!-- FAQ -->
                <div>
                  <h3 class="mb-3">Course - Frequently Asked Questions</h3>
                  <div class="mb-4">
                    <h4>How this course help me to design layout?</h4>
                    <p>
                      My name is Jason Woo and I work as human duct tape at
                      Gatsby, that means that I do a lot of different things.
                      Everything from dev roll to writing content to writing
                      code. And I used to work as an architect at IBM. I live in
                      Portland, Oregon.
                    </p>
                  </div>
                  <div class="mb-4">
                    <h4>What is important of this course?</h4>
                    <p>
                      We'll dive into GraphQL, the fundamentals of GraphQL.
                      We're only gonna use the pieces of it that we need to
                      build in Gatsby. We're not gonna be doing a deep dive into
                      what GraphQL is or the language specifics. We're also
                      gonna get into MDX. MDX is a way to write React components
                      in your markdown.
                    </p>
                  </div>
                  <div class="mb-4">
                    <h4>Why Take This Course?</h4>
                    <p>
                      We'll dive into GraphQL, the fundamentals of GraphQL.
                      We're only gonna use the pieces of it that we need to
                      build in Gatsby. We're not gonna be doing a deep dive into
                      what GraphQL is or the language specifics. We're also
                      gonna get into MDX. MDX is a way to write React components
                      in your markdown.
                    </p>
                  </div>
                  <div class="mb-4">
                    <h4>Is able to create application after this course?</h4>
                    <p>
                      We'll dive into GraphQL, the fundamentals of GraphQL.
                      We're only gonna use the pieces of it that we need to
                      build in Gatsby. We're not gonna be doing a deep dive into
                      what GraphQL is or the language specifics. We're also
                      gonna get into MDX. MDX is a way to write React components
                      in your markdown.
                    </p>
                    <p>
                      We'll dive into GraphQL, the fundamentals of GraphQL.
                      We're only gonna use the pieces of it that we need to
                      build in Gatsby. We're not gonna be doing a deep dive into
                      what GraphQL is or the language specifics. We're also
                      gonna get into MDX. MDX is a way to write React components
                      in your markdown.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
        <!-- Card -->
        <div class="card mb-3 mb-4">
          <div class="p-1">
            <div class="d-flex justify-content-center position-relative rounded border-white border rounded-3 bg-cover"
              style="
                background-image: url(/static/users_assets/images/course/course-javascript.jpg);
              ">
              <img src="{{subject.cover_image.url}}" alt="" class="card-img-top rounded-top-md" />
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Price single page -->
            <div class="mb-3">
              <span class="text-dark fw-bold h2">$600</span>
              <del class="fs-4 text-muted">$750</del>
            </div>
            <div class="d-grid">
              <a href="pricing.html" class="btn btn-outline-primary">Get Full Access</a>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <h4 class="mb-0">course inf</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
              <div class="d-lg-flex">
                <div>
                    <a href="{% url 'branch_details' subject.department.branch.id %}">
                        <img src="{{subject.department.branch.cover_image.url}}" alt="" class="rounded img-4by3-lg" />
                    </a>
                </div>
                <div class="ms-lg-3 mt-2 mt-lg-0 py-auto">
                    <h4 class="mt-auto h5">
                        Branch:
                        <a href="{% url 'department_details'  subject.department.branch.id %}" class="text-inherit">
                            {{subject.department.branch.name|title}}
                        </a>
                    </h4>
                    <span class="">
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1-half text-warning"></i>
                        <span class="text-inherit">(140)</span>
                    </span>
                </div>
              </div> 
            </li>
            <li class="list-group-item bg-transparent">
              <div class="d-lg-flex">
                <div>
                    <a href="{% url 'department_details' subject.department.id %}">
                        <img src="{{subject.department.cover_image.url}}" alt="" class="rounded img-4by3-lg" />
                    </a>
                </div>
                <div class="ms-lg-3 mt-2 mt-lg-0 py-auto">
                    <h4 class="mt-auto h5">
                        Department:
                        <a href="{% url 'department_details'  subject.department.id %}" class="text-inherit">
                            {{subject.department.name|title}}
                        </a>
                    </h4>
                    <span class="">
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1 text-warning"></i>
                        <i class="zmdi zmdi-star me-n1-half text-warning"></i>
                        <span class="text-inherit">(140)</span>
                    </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
          <!-- Card -->
          <div class="card">
            <!-- Card body -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <img src="{{subject.teacher.user.profile_image.url}}" alt=""
                    class="rounded-circle avatar-xl" />
                  <a href="#" class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip" data-placement="top"
                    title="Verifed">
                    <img src="/static/users_assets/images/svg/checked-mark.svg" alt="" height="30" width="30" />
                  </a>
                </div>
                <div class="ms-4">
                  <h4 class="mb-0">{{subject.teacher.user|title}}</h4>
                  <p class="mb-1 fs-6">{{subject.teacher.profession|title}}</p>
                  <i class="zmdi zmdi-star me-n1 text-warning"></i>
                  <i class="zmdi zmdi-star me-n1 text-warning"></i>
                  <i class="zmdi zmdi-star me-n1 text-warning"></i>
                  <i class="zmdi zmdi-star me-n1 text-warning"></i>
                  <i class="zmdi zmdi-star me-n1-half text-warning"></i>
                  <span class="text-inherit">(140)</span>
                </div>
              </div>
              <div class="border-top row mt-3 border-bottom mb-3 g-0">
                <div class="col">
                  <div class="pe-1 ps-2 py-3">
                    <h5 class="mb-0">{{teacher_students_num}}</h5>
                    <span>Students</span>
                  </div>
                </div>
                <div class="col border-start">
                  <div class="pe-1 ps-3 py-3">
                    <h5 class="mb-0">{{teacher_subjects_num}}</h5>
                    <span>Courses</span>
                  </div>
                </div>
                <div class="col border-start">
                  <div class="pe-1 ps-3 py-3">
                    <h5 class="mb-0">12,230</h5>
                    <span>Reviews</span>
                  </div>
                </div>
              </div>
              <p>{{subject.teacher.user.bio}}</p>
              <a href="{% url 'teacher_details' subject.teacher.id  %}" class="btn btn-outline-white btn-sm">View
                Details</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="pt-12 pb-3">
        <div class="row d-md-flex align-items-center mb-4">
          <div class="col-12">
            <h2 class="mb-0">Related Courses</h2>
          </div>
        </div>
        <div class="row">
          {% for related_subject in related_subjects %}
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Card -->
            <div class="card mb-4 card-hover">
              <a href="{% url 'subject_details' related_subject.id %}" class="card-img-top"><img
                  src="{{related_subject.cover_image.url}}" alt="" class="card-img-top rounded-top-md" /></a>
              <!-- Card body -->
              <div class="card-body">
                <h4 class="mb-2 text-truncate-line-2">
                  <a href="{% url 'subject_details' related_subject.id %}"
                    class="text-inherit">{{related_subject.name|title}}</a>
                </h4>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item">
                    {{related_subject.department|title}}
                  </li>
                  <li class="list-inline-item">
                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                    </svg>
                    {{related_subject.level}}
                  </li>
                </ul>
                <div class="lh-1">
                  <span>
                    <i class="zmdi zmdi-star text-warning me-n1"></i>
                    <i class="zmdi zmdi-star text-warning me-n1"></i>
                    <i class="zmdi zmdi-star text-warning me-n1"></i>
                    <i class="zmdi zmdi-star text-warning me-n1"></i>
                    <i class="zmdi zmdi-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(7,700)</span>
                </div>
              </div>
              <!-- Card footer -->
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col-auto">
                    <img src="{{related_subject.teacher.user.profile_image.url}}"
                      class="rounded-circle avatar-xs" alt="" />
                  </div>
                  <div class="col ms-2">
                    <span>{{related_subject.teacher|title}}</span>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="btn btn-success btn-round waves-effect waves-light btn-sm text-inherit">
                      Applay
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% endblock user_content %}
</div>