{% extends 'base/admin/base.html' %}
{% load static %}

{% block admin_style %}
 
{% endblock admin_style %}

{% block admin_content %}
    <!--Start Dashboard Content-->
<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title  pt-3 pb-3">User Profile</h4>
		<ol class="breadcrumb shadow bg-light p-2">
			<li class="breadcrumb-item"><a href="javaScript:void();">Victory</a></li>
			<li class="breadcrumb-item"><a href="{% url 'users_list' %};">Users list</a></li>
			<li class="breadcrumb-item"><a href="javaScript:void();">User Details</a></li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div class="btn-group shadow float-sm-right">
			<button type="button" class="btn btn-outline-primary waves-effect waves-light"><i
					class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button"
				class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<div class="dropdown-menu">
				<a href="{% url 'change_user' teacher.user.id %}" class="dropdown-item ">chenge user</a>
				<a href="{% url 'delete_user' teacher.user.id %}" class="dropdown-item ">delete user</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->

<!-- Bg -->
<div class="py-20 bg-success"
	style="background: url({{teacher.user.get_cover_image.url}}) no-repeat;background-position: center;"></div>
<!-- User info -->
<div class="card p-lg-2 pt-2 pt-lg-0 rounded-0 border-0">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-8 col-md-8 col-12">
				<div class="d-flex align-items-center">
					<div class="position-relative mt-n9">
						<img src="{{teacher.user.get_profile_image.url}}" alt=""
							class="rounded-circle avatar-xxl border-white border border-4 position-relative">
						<a href="#" class="position-absolute top-0 end-0 me-2" data-bs-toggle="tooltip"
							data-placement="top" title="Verified">
							<img src="{% static 'assets/images/svg/checked-mark.svg' %}" alt="" height="30"
								width="30" />
						</a>
					</div>
					<div class="ms-3">
							<h2 class="mb-0">{{teacher.user|title}}</h2>
							<span class="badge bg-light-primary text-primary ms-2">{{teacher.user.profession}}</span><hr>
							<span class="badge bg-light-primary text-primary ms-2">{% if teacher.user.email %}{{teacher.user.email}}{% else %}{{teacher.user.username}}{% endif %}</span>
							<span class="badge bg-light-primary text-success ms-2">Teacher</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="fs-4 mt-4 mt-lg-0 pb-2 pb-lg-0 d-lg-flex justify-content-end">
					<a href="#" class="zmdi zmdi-youtube text-muted me-2"></a>
					<a href="#" class="zmdi zmdi-link-variant text-muted me-2"></a>
					<a href="#" class="zmdi zmdi-instagram text-muted me-2"></a>
					<a href="#" class="zmdi zmdi-facebook fs-4 text-muted me-2"></a>
					<a href="#" class="zmdi zmdi-twitter text-muted"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Content -->
<div class="py-5 py-md-5">
	<div class="row">
		<div class="col-lg-4 col-md-5 col-12">
			<!-- Card -->
			<!-- Card -->
			<div class="card border-0 mb-4  ">
				<!-- Card body -->
				<div class="card-header  fw-bold   border-light-3">
					Info
				</div>
				<div class="card-body">
					<ul class="nav flex-column nav-pills list-unstyled ms-n2 mb-4">
						<li class="nav-item mb-2 p-2 bg-light">
							<span><i class="fa fa-book fs-4 text-success"></i></span>
							Courses: <span class="fw-bold">{{teacher.user.address.street}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light ">
							<span><i class="fa fa-users fs-4 text-success"></i></span>
							Total Students: <span class="fw-bold">{{teacher.user.address.city}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							<span><i class="fa fa-star fs-4 text-warning"></i></span>							
							Reviews: <span class="fw-bold">{{teacher.user.address.state}}</span>
						</li>

					</ul>
				</div>
			</div>
						<!-- Card -->
			<div class="card border-0 mb-4 ">
				<div class="card-header  fw-bold  border-light-3">
					Account
				</div>
				<!-- Card body -->
				<div class="card-body">
					<ul class="nav flex-column nav-pills list-unstyled ms-n2 mb-4">
						<li class="nav-item mb-2 p-2 bg-light">
							First Name: <span class="fw-bold">{{teacher.user.first_name}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							Last Name: <span class="fw-bold">{{teacher.user.last_name}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							Userame: <span class="fw-bold">{{teacher.user.username}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							Email: <span class="fw-bold">{{teacher.user.email}}</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card -->
			<div class="card border-0 mb-4 mb-lg-0">
				<div class="card-header  fw-bold  border-light-3">
					Address
				</div>
				<!-- Card body -->
				<div class="card-body">
					<ul class="nav flex-column nav-pills list-unstyled ms-n2 mb-4">
						<li class="nav-item mb-2 p-2 bg-light">
							state: <span class="fw-bold">{{teacher.user.address.street}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							City: <span class="fw-bold">{{teacher.user.address.city}}</span>
						</li>
						<li class="nav-item mb-2 p-2 bg-light">
							Street: <span class="fw-bold">{{teacher.user.address.state}}</span>
						</li>

					</ul>
					
				</div>
			</div>

			
		</div>
		<div class="col-lg-8 col-md-7 col-12">
			<!-- Card -->
			<div class="card border-0 mb-4">
				<!-- Card body -->
				<div class="card-body">
					<h4>Bio</h4>
						<p>{{teacher.user.bio}}</p>
					<h4>About me</h4>
					<p class="text-type-md">
						{{teacher.user.about}}
						{{teacher.user}}
					</p>
				</div>
			</div>
			<div class="card border-0">
				<!-- Card header -->
				<div class="card-header">
					<h4 class="mb-0">
						{{teacher.user|title}} Courses ({{teacher.subject_set.count}})
					</h4>
				</div>
				<!-- Card body -->

				<div class="card-body">
					<!-- List group -->
					<ul class="list-group list-group-flush">
						{% for subject in teacher.subject_set.all %}
						<!-- List group item -->
						<li class="list-group-item px-0 pb-3 pt-0">
							<div class="d-flex align-items-center justify-content-between">
								<a href="{% url 'subject_details' subject.id %}">
									<div class="d-lg-flex align-items-center">
										<div>
											<img src="{{subject.cover_image.url}}" alt=""
												class="rounded img-4by3-lg" />
										</div>
										<div class="ms-lg-3 mt-2 mt-lg-0">
											<h4 class="text-primary-hover">
												{{subject.name}}
											</h4>
											<ul class="list-inline fs-6 mb-0 text-inherit">
												<li class="list-inline-item">
													<i
														class="zmdi zmdi-clock-time-four-outline text-muted me-1"></i>{{subject.department.branch}}
												</li>
												<li class="list-inline-item">
													<i
														class="zmdi zmdi-clock-time-four-outline text-muted me-1"></i>{{subject.department.name}}
												</li>
												<li class="list-inline-item">
													<i class="zmdi zmdi-star me-n1 text-warning"></i>
													<i class="zmdi zmdi-star me-n1 text-warning"></i>
													<i class="zmdi zmdi-star me-n1 text-warning"></i>
													<i class="zmdi zmdi-star me-n1 text-warning"></i>
													<i class="zmdi zmdi-star text-warning"></i>
													<span class="text-warning">4.5</span>
													<span class="text-muted">(1,345)</span>
												</li>
											</ul>
										</div>
									</div>
								</a>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Dashboard Content-->
{% endblock admin_content %}

{% block admin_script %}

	
<!--=========================================================================================-->

{% endblock admin_script %}
	
