{% extends 'base/public/base.html' %}
{% load static %}

{% block public_style %}

<!--Data Tables -->
<link href="{% static 'assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/form-control.css' %}" rel="stylesheet"> 
<link href="{% static 'assets/css/table.css' %}" rel="stylesheet"> 
<!--=========================================================================================-->

{% endblock public_style %}
{% block public_content %}
<!--Start Dashboard Content-->

<!-- Page header -->
<div class="py-lg-8 py-4 bg-success">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div>
                    <h2 class="text-white display-5 fw-semi-bold">
                        Student Creation Tree
                    </h2>
                    <p class="text-white mb-6 ">
                        this is a creation tree
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="pb-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-12 mt-n8 mb-lg-0 mb-10">
                <!-- Card -->
                <div class="card rounded-3">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0 p-0">
                        <div>
                            <!-- Nav -->
                            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"  href="?filter=all">All</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link"  href="?filter=today">Tody</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link"  href="?filter=last_week">Last Weak</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="?filter=last_month">Last Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"   href="?filter=last_year">Last year</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body h-100">
                        {% include 'students/components/students_tree.html' with students=students %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12 mt-n8 mb-lg-0 mb-10">
                <!-- Card -->
                <div class="card rounded-3 rounded-top-3">
                    <!-- Card header -->
                    <h4 class="card-title m-0 p-4 text-light bg-primary rounded-top-3">
                        Form
                    </h4>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-sm btn-success mx-2"
                                hx-get="{% url 'htmx_student_create' %}"
                                hx-target="#hx_student_creation_form_id"
                                hx-swap="innerHTML"
                                >
                                <i class="fa fa-plus" aria-hidden="true"></i> ADD STUDNT
                            </button>

                            <button class="btn btn-sm btn-success mx-2"
                                hx-get="{% url 'htmx_user_and_student_create' %}"
                                hx-target="#hx_student_creation_form_id"
                                hx-swap="innerHTML"
                                >
                                <i class="fa fa-plus" aria-hidden="true"></i> ADD NEW STUDNT
                            </button>
                            
                        </div>

                        <div id="hx_student_creation_form_id" class=" border-bottom-0 p-0">
                            {% include 'components/forms.html' with form=student_form action="/students/htmx/student/create/" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card -->
        </div>
    </div>
</div>

 <!--End Dashboard Content-->
 {% endblock public_content %}
 {% block public_script %}  

 <!-- Plugins and scripts required by This views -->
 <!--=========================================================================================-->
 <script src="{% static 'assets/js/jquery.min.js' %}"></script>
 <script src="{% static 'assets/js/popper.min.js' %}"></script>
 <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

 <!--Select Plugins Js-->
 <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
 <!--Inputtags Js-->
 <script src="{% static 'assets/plugins/inputtags/js/bootstrap-tagsinput.js' %}"></script>

 <!--Bootstrap Datepicker Js-->
 <script src="{% static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

 <!--Multi Select Js-->
 <script src="{% static 'assets/plugins/jquery-multi-select/jquery.multi-select.js' %}"></script>
 <script src="{% static 'assets/plugins/jquery-multi-select/jquery.quicksearch.js' %}"></script>
 <!--Inputtags Js-->
 <script src="{% static 'assets/plugins/inputtags/js/bootstrap-tagsinput.js' %}"></script>
 <!--material date picker js-->
 <script src="{% static 'assets/plugins/material-datepicker/js/moment.min.js' %}"></script>
 <script src="{% static 'assets/plugins/material-datepicker/js/bootstrap-material-datetimepicker.min.js' %}"></script>
 <script src="{% static 'assets/plugins/material-datepicker/js/ja.js' %}"></script>
 
 <!--Data Tables js-->
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/jszip.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/pdfmake.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/vfs_fonts.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.html5.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.print.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js' %}"></script>
 <!--Inline script-->
 {% comment %} <!--=========================================================================================-->
 <script>
   $(function() {
     //Default data table
       $('.default-datatable').DataTable();
       $("form-select .form-select-sm")

       $(".hx-delete-alert-confirm").click(function(e){
            
            var alert_text = $(e.currentTarget.id).attr("alert-text");

            swal({
                title: "Are you sure?",
                text: alert_text || "Once deleted, you will not be able to recover data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    swal("Information!", "Poof! Your data has been deleted!,", "info", {
                        icon: "success",
                    });
                    
                    htmx.trigger("#" + e.currentTarget.id, "confirmed")

                } else {
                    swal("Information!", "Your data file is safe!,", "info");
                }
            });
        });
    });

  </script>
 <!--=========================================================================================-->
  {% endcomment %}

{% endblock public_script %}