<div class="card card-hover border-top border-muted border-4 card-hover-with-icon mb-4  ">
    <!-- card body -->
    <a href="{% url 'blog_details' blog.id %}" class="card-img-top">
        <!-- Img  -->
    <img src="{{blog.blogimage_set.first.image.url}}" class="card-img-top rounded-top-md" alt=""></a>
<!-- Card body -->
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a href="{% url 'blog_details' blog.id %}" class="fs-5 mb-2 fw-semi-bold d-block text-success">
                {{blog.category|title}}
            </a>

            {% if blog.pin_to_top %}
                <span><i class="fa fa-map-pin" aria-hidden="true"></i></span>
            {% endif %}
        </div>
        <h3><a href="{% url 'blog_details' blog.id %}" class="text-inherit">
            {{blog.title|title}}
        </a>
        </h3>
        <p >
            {{blog.body_text|safe|escape|striptags|truncatewords:20}}
        </p>
        <!-- Media content -->
        <div class="row align-items-center g-0 mt-lg-7 mt-4">
            <div class="col-auto">
                <!-- Img  -->      
            <a href="{% url 'user_details' blog.author.id %}"	>
                <img src="{{blog.author.get_profile_image.url}}" alt="" class="rounded-circle avatar-sm me-2">
            </a>
        </div>
        <div class="col lh-1 ">
            <a href="{% url 'user_details' blog.author.id %}"	>
                <h5 class="mb-1">{{blog.author.get_full_name_or_email}}</h5>
            </a>
        </div>
        <div class="col-auto">

            <p class="fs-6 mb-0"><i class="fe fe-clock text-muted"></i> {{blog.published|timesince}} ago</p>
        </div>

        </div>
    </div>
</div>