{% load static %}
<div class="row align-items-center justify-content-center g-0 px-4 py-10">
    <!-- Docs -->
    <h1 class="display-3 mb-2 fw-bold">We're coming soon.</h1>

    <p class="mb-4 fs-4">Our website is under construction. We'll be here soon with our new awesome site, subscribe to be notified.</p>
    <div class="countdown">
        <ul class="list-inline">
            <li class="list-inline-item me-md-5">
                <span class="days display-4 fw-bold  text-primary">OO</span>
                <p class="fs-4 mb-0">Days</p>
            </li>
            <li class="list-inline-item me-md-5">
                <span class="hours display-4 fw-bold text-primary">OO</span>
                <p class="fs-4 mb-0">Hours</p>
    
            </li>
            <li class="list-inline-item me-md-5">
                    <span class="minutes display-4 fw-bold text-primary ">OO</span>
                <p class="fs-4 mb-0">Minutes</p>
    
            </li>
            <li class="list-inline-item me-md-5">
                <span class="seconds display-4 fw-bold text-primary ">OO</span>
                <p class="fs-4 mb-0">Seconds</p>
    
            </li>
        </ul>
    </div>
    <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 mt-8 mt-lg-0">
        <img src="{% static 'assets/images/background/comingsoon.svg' %}" alt="" class="w-100" />
    </div>
</div>