{% for subject in subjects %}
<!-- List group item -->
<li class="list-group-item px-0 pb-3 pt-0">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'subject_details' subject.id %}">
            <div class="d-lg-flex align-items-center">
                <div>
                    <img src="{{subject.cover_image.url}}" alt="" class="rounded img-4by3-lg" />
                </div>
                <div class="ms-lg-3 mt-2 mt-lg-0">
                    <h4 class="text-primary-hover">
                        {{subject.name}}
                    </h4>
                    <ul class="list-inline fs-6 mb-0 text-inherit">
                        <li class="list-inline-item">
                            <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>{{subject.department.branch}}
                        </li>
                        <li class="list-inline-item">
                            <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>{{subject.department.name}}
                        </li>
                        <li class="list-inline-item">
                            <svg class="mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                            </svg>
                            {{subject.level}}
                        </li>
                        <li class="list-inline-item">
                            <i class="mdi mdi-star me-n1 text-warning"></i>
                            <i class="mdi mdi-star me-n1 text-warning"></i>
                            <i class="mdi mdi-star me-n1 text-warning"></i>
                            <i class="mdi mdi-star me-n1 text-warning"></i>
                            <i class="mdi mdi-star text-warning"></i>
                            <span class="text-warning">4.5</span>
                            <span class="text-muted">(1,345)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
        <div>
            <!-- Dropdown -->
            <span class="dropdown dropstart">
                <a class="text-muted text-decoration-none" href="#" role="button" id="courseDropdown"
                    data-toggle="dropdown"  data-offset="-20,20" aria-expanded="true">
                    <i class="fe fe-more-vertical"></i>
                </a>
                <span class="dropdown-menu" aria-labelledby="courseDropdown">
                    <span class="dropdown-header">Share</span>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-facebook fs-4 dropdown-item-icon"></i>Facebook</a>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-twitter fs-4 dropdown-item-icon"></i>Twitter</a>
                    <a class="dropdown-item" href="#"><i class="mdi mdi-linkedin dropdown-item-icon"></i>Linked
                        In</a>
                    <a class="dropdown-item" href="#"><i class="mdi mdi-content-copy dropdown-item-icon"></i>Copy Link</a>
                </span>
            </span>
        </div>
    </div>
</li>
{% endfor %}