{% load static %}
<!--Start topbar header-->
<header class="topbar-nav ">
    <nav class="navbar navbar-expand fixed-top  border-bottom border-light-3 bg-success shadow">
     <ul class="navbar-nav mr-auto align-items-center">
       <li class="nav-item">
         <a class="nav-link toggle-menu" href="javascript:void();">
          <i class="icon-menu menu-icon "></i>
        </a>
       </li>
       <li class="nav-item">
         <form class="search-bar">
           <input type="text" class="form-control " placeholder="Enter keywords">
            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
         </form>
       </li>
     </ul>
     <ul class="navbar-nav align-items-end">
        {% if request.user.is_authenticated  %}

          <li class="dropdown ms-2">
            <a class="rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img alt="avatar" src="{{request.user.get_profile_image.url}}" class="rounded-circle">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow">
              <div class="dropdown-item">
                <a href="{% url 'user_profile' %}">
                  <div class="d-flex">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                      <img alt="avatar" src="{{request.user.get_profile_image.url}}" class="rounded-circle">
                    </div>
                    <div class="ms-3 lh-1">
                      <h5 class="mb-1">{{request.user.get_full_name}}</h5>
                      <p class="mb-0 text-muted">{% if request.user.email %}{{request.user.email}}{% else %}{{request.user.username}}{% endif %}</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                
                <li>
                  <a class="dropdown-item" href="{% url 'user_profile' %}">
                    <i class="fa fa-user me-2  text-success"></i>Profile
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out me-2 text-danger"></i>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {% else %}
        <div class="ms-auto mt-lg-0">
          <a href="{% url 'login' %}" class="btn btn-sm btn-outline-dark btn-sm ms-3">Sign in</a>
          <a href="{% url 'register' %}" class="btn btn-sm btn-dark btn-sm ms-1">Sign up</a>
        </div>
        {% endif %}
     </ul>
   </nav>
   </header>
   <!--End topbar header-->