{% load static %}
{% load myflatpage %}
{% general_setting as generalSetting %}
  <!--Start sidebar-wrapper-->
  <nav class="navbar-vertical navbar navbar-dark bg-dark">
    <div class="vh-100" data-simplebar>
        <!-- Brand logo -->
        <div class="row w-100">
            <a class="mx-auto h-100 d-flex justify-content-center" href="{% url 'home' %}">
                <img src="{{generalSetting.logo.url}}" class="dashboard-logo-icon mx-auto"  alt="" />
            </a>
        </div>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link   collapsed " href="#" data-bs-toggle="collapse"
                    data-bs-target="#navDashboard" aria-expanded="false" aria-controls="navDashboard">
                    <i class="nav-icon fe fe-home me-2"></i> Dashboard
                </a>
                <div id="navDashboard" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link  active " href="{% url 'academy_dashboard' %}">
                                Overview
                            </a>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'users_dashboard' %}">
                                Analytics

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navAcademy"
                    aria-expanded="false" aria-controls="navAcademy">
                    <i class="nav-icon fe fe-book me-2"></i> Academy
                </a>
                <div id="navAcademy" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
         
                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#Branch_id" aria-expanded="false"
                                aria-controls="Branch_id">
                                Branch
                            </a>
                            <div id="Branch_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'branch_list' %}">Branch list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_branch' %}">Create Branch</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#department_id" aria-expanded="false"
                                aria-controls="department_id">
                                Department
                            </a>
                            <div id="department_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'department_list' %}">Department list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_department' %}">Create Department</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#subject_id" aria-expanded="false"
                                aria-controls="subject_id">
                                Subject
                            </a>
                            <div id="subject_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'subject_list' %}">Subject list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_subject' %}">Create Subject</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#section_id" aria-expanded="false"
                                aria-controls="section_id">
                                Section
                            </a>
                            <div id="section_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'section_list' %}">Section list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_section' %}">Create Section</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navProfile"
                    aria-expanded="false" aria-controls="navProfile">
                    <i class="nav-icon fe fe-user me-2"></i> User
                </a>
                <div id="navProfile" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
         
                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#users_id" aria-expanded="false"
                                aria-controls="users_id">
                                Users
                            </a>
                            <div id="users_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'users_list' %}">Users list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_user' %}">Create Users</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#teachers_id" aria-expanded="false"
                                aria-controls="teachers_id">
                                Teachers
                            </a>
                            <div id="teachers_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'teachers_list' %}">Teachers list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_teacher' %}">Create Teachers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-toggle="collapse"
                                data-bs-target="#students_id" aria-expanded="false"
                                aria-controls="students_id">
                                Students
                            </a>
                            <div id="students_id" class="collapse" data-bs-parent="#navMenuLevel">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'student_creation_tree' %}">Registration Students</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'students_list' %}">Students list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  "
                                            href="{% url 'create_student' %}">Create Students</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- Nav item -->
            <li class="nav-item ">
                <a class="nav-link   " href="#" data-bs-toggle="collapse" data-bs-target="#navCMS"
                    aria-expanded="false" aria-controls="navCMS">
                    <i class="nav-icon fe fe-book-open me-2"></i> Blog
                </a>
                <div id="navCMS" class="collapse" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'admin_blog_overview' %}">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " href="{% url 'admin_blog_list' %}">
                                All Post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'admin_create_blog' %}">
                                New Post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'admin_blog_category' %}">
                                Category
                            </a>
                        </li>
                    </ul>
                </div>
            </li>



            <!-- Nav item -->
            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>



            <!-- Nav item -->
            <li class="nav-item">
                <div class="navbar-heading">Components</div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact_list' %}">
                    <i class="nav-icon fe fe-help-circle me-2"></i> Help Center

                </a>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse"
                    data-bs-target="#navSiteSetting" aria-expanded="false" aria-controls="navSiteSetting">
                    <i class="nav-icon fe fe-settings me-2"></i> Site Setting
                </a>
                <div id="navSiteSetting" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-general.html">
                                General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-google.html">
                                Google
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-social.html">
                                Social
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-social-login.html">
                                Social Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-payment.html">
                                Payment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../../pages/dashboard/setting-smpt.html">
                                SMPT
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Nav item -->

            <!-- Nav item -->
            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <div class="navbar-heading">Devlopers</div>
            </li>
            <!-- Nav item -->
        </ul>
        <!-- Card -->
        <div class="card bg-dark-primary shadow-none text-center mx-4 my-8">
            <div class="card-body py-6">
                <img src="{% static 'assets/images/background/giftbox.png' %}" alt="" />
                <div class="mt-4">
                    <h5 class="text-white">Unlimited Access</h5>
                    <p class="text-white-50 fs-6">
                        Upgrade your plan from a Free trial, to select ‘Business Plan’. Start Now
                    </p>
                    <a href="mail:ozonetechnologydev@gmail.com" class="btn btn-white btn-sm mt-2">Contact</a>
                </div>
            </div>
        </div>
    </div>
</nav>
  <!--End sidebar-wrapper-->
